body {
    box-sizing: border-box;
    display: flex;
    background-color: #ecffca;
    color: #1e6b00;
    font-family: sans-serif;
    padding: 10px;
    margin: auto;
    font-family: 'calibri';
    
}

.ulOdo {
    list-style-type: none;
    display: flex;
}

.anim {
    width: 400px;
    height: 300px;
    background-color: rgb(68, 255, 62);
    border-radius: 20%;
    padding: 20px;
    margin: 10px
}

.aesh{
    width: 400px;
    height: 300px;
    background-color: rgb(68, 255, 62);
    border-radius: 20%;
    padding: 20px;
    margin: 10px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.odo {
    border-radius: 5%;
    background-color: #2ed4da;
    width: 800px;
    height: 220px;
    margin: 20px auto;
    padding: 25px;
}

a {
    text-decoration: none;
    font-size: 20px;
}
    
.ins {
    width: 1000px;
    height: 500px;
    background-color: #90fd86;
    font-size: 14px;
    margin: auto;
    padding: 10px;
    border-radius: 6%;
    background-image: "IMG_5463.JPG";
}

.grandis {
    font-size: 17px;
}
